* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f4fbea;
}

.blogs {
  max-width: 70rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  padding: 4.8rem 0 9.6rem 0;
  /* position: absolute; */
}

.author {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.author-img {
  display: flex;
}

.author img {
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  border: 3px solid #f4fbea;
}

.author-name {
  font-size: 1rem;
  font-weight: 400;
  margin-left: -1rem;
}

.author-name span {
  color: #777;
  font-weight: 500;
  margin-left: 0.4rem;
  border-bottom: transparent;
}

.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4.5rem;
  line-height: 1.2;
  margin-bottom: 4.6rem;
}

.container {
  /* position: relative; */
  left: 0;
  top: 15px;
  height: auto;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

h3 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  border: 1px solid transparent;
  text-shadow: 1px 1px 2px blue;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 3.2rem;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.footer-link {
  margin-right: 0rem;
  font-size: 1.2rem;
}

.card {
  border: 1px lightgrey solid;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: auto;
  margin-left: 0px;
  padding: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.label {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

#intro {
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

#description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

#description-source {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

li {
  margin-bottom: 2.4rem;
}

.back {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 2.2rem;
  margin-bottom: 9.4rem;
}

.link:link,
.lonk:visited {
  color: #3f22e6;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.lonk:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

@media (max-width: 75em) {
  html {
    /*9px / 16px = 0.5625*/
    font-size: 56.25%;
  }

  .blogs {
    max-width: 90rem;
  }

  .author-name {
    font-size: 1.4rem;
  }

  /* .tech-logo img {
    width: 100%;
  } */

  .heading-secondary {
    font-size: 4.5rem;
  }

  ul {
    font-size: 2.4rem;
  }
  em {
    font-size: 2rem;
  }

  .label {
    font-size: 2.4rem;
  }

  #intro {
    font-size: 2.4rem;
  }

  #description {
    font-size: 2.4rem;
  }

  .back {
    font-size: 1.8rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .tech-logo {
    width: 100%;
  }
}

@media (max-width: 44em) {
  .tech-logo {
    width: 100%;
  }

  .heading-secondary {
    font-size: 3.8rem;
    margin-left: 2rem;
  }

  .blogs {
    max-width: 70rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    padding: 4.8rem 0 9.6rem 0;
  }
}

@media (max-width: 34em) {
  .tech-logo {
    width: 100%;
  }

  .heading-secondary {
    font-size: 3.8rem;
    margin-left: 2rem;
  }

  .blogs {
    max-width: 60rem;
    padding: 0 2.6rem;
    margin: 0 auto;
    padding: 3.8rem 0 4.6rem 0;
  }

  .container {
    margin: 2rem;
    padding: 1.2rem;
  }
}
